<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<a href="/">Перейти на главную страницу</a>
   <center><h2>Вход</h2></center>

{% if error%}
<p style="color:red;">НЕВЕРНЫЙ ПАРОЛЬ</p>
{% endif %}



   <form method="POST">
       <label>Почта: </label>
       <input type="email" name="email"> <br> <br>

       <label>Пароль</label>
       <input type="password" name="password"> <br> <br>

       <button type="submit" style="color:white; background-color:green; font-size:10px; padding:10px; border-radius:10px
">Войти</button>

   </form>
<form method="POST">
       <label>Номер телефона: </label>
       <input type="number" name="number"> <br> <br>

       <label>ФИО</label>
       <input type="text" name="text"> <br> <br>


</form>


</body>
</html>


















